/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* css reset ends */


/* common */

body {
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h3 {
    color: #666666;
    font-weight: bold;
    padding-bottom: 30px;
}

.para-common {
    color: #777777;
}


/* header */

h2 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.header {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-bar {
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #5ebd8b;
    font-weight: bold;
}


/* Primary Section */

.primary {
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 90px;
}

.cover-background {
    background-image: linear-gradient(to right, #584977, #774079);
}

.primary-left,
.primary-right {
    width: 50%;
}

h1 {
    font-size: 40px;
    line-height: 60px;
    color: #ffffff;
    font-weight: bold;
}

.button-1 {
    background-color: #5ebd8b;
    color: #ffffff;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    margin-top: 30px;
    border: none;
}

.primary-para {
    color: #b3a0bc;
    font-weight: 600;
    font-size: 20px;
}

.bt-1 {
    color: #ffffff;
    text-decoration: none;
}

.primary-right {
    padding-top: 10px;
    border-left: solid #b3a0bc 1px;
    padding-left: 60px;
    box-sizing: border-box;
}


/* SECONDARY */

.section-two {
    padding-top: 70px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    /* border-bottom: solid #b3a0bc 1px; */
}

.section-two-header {
    font-size: 30px;
    font-weight: bold;
}

.section-2-ul {
    list-style: none;
    width: 50%;
}

.section-2-li {
    padding-bottom: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.section-2-li:before {
    content: '✓';
    font-size: 25px;
    color: #5ebd8b;
}

span {
    margin-right: 20px;
}

.bt-2 {
    background-color: #ffffff;
    text-decoration: none;
    color: #717171
}

.button-2 {
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    margin-top: 30px;
    border: solid 2px #a6a7a8;
}

.section-two-left,
.section-two-right {
    width: 50%;
    background-color: #ffffff;
}

.section-two-left {
    box-sizing: border-box;
    border-right: solid #b3a0bc 1px;
}

.section-2-ul {
    padding-left: 60px;
}

.image-1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* Section three */

.section-three {
    padding-top: 50px;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid #b3a0bc 1px;
}

.section-three-left {
    width: 40%;
    background-color: white;
}

img {
    width: 100%;
    display: block;
}

.section-three-right {
    padding-top: 80px;
    padding-left: 50px;
    background-color: white;
}

.section-three-bg {
    background-color: lightgray;
}


/* SECTION FOUR */

.bt-4 {
    background-color: #ffffff;
    text-decoration: none;
    color: #717171
}

.section-4-bt {
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    margin-top: 30px;
    border: solid 2px #717171;
}

.section-four {
    text-align: center;
    padding-bottom: 70px;
    background-color: lightgray;
}

.section-four-bg {
    background-color: lightgray;
}


/* SECTION FIVE */

.section-five {
    padding-top: 70px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: solid #b3a0bc 1px;
}

.section-five-header {
    font-size: 30px;
    font-weight: bold;
}

.section-5-ul {
    list-style: none;
    width: 50%;
}

.section-5-list {
    padding-bottom: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.bt-5 {
    background-color: #ffffff;
    text-decoration: none;
    color: #717171
}

.button-5 {
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    margin-top: 30px;
    border: solid 2px #717171;
}

.section-five-left,
.section-five-right {
    width: 50%;
    background-color: #ffffff;
}

.section-five-left {
    box-sizing: border-box;
    border-right: solid #b3a0bc 1px;
}

.bottom-nav {
    color: #5ebd8b;
    padding-right: 15px;
}

.name {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    display: inline-block;
}

.send-message {
    color: grey;
}

textarea {
    font-family: 'Roboto', sans-serif;
    padding-left: 5px;
    padding-top: 3px;
}


/* FOOTER */

footer {
    color: #b3a0bc;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}